#loginbox,#signupbox {
	float : right;
	right : -50px;
	top:-120px;
}

#btn-signupdiv{
	float : center;
	padding-left:100px;
}

.carousel{
    background: #2f4357;
    //margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
	min-width: 100%;
}

.bs-example{
	margin: 20px;
}
#carouselSlides{
	height: 350px;
}